@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

nav{
    display: flex;
    align-items: center;
     justify-content: space-between;
    padding:1.5rem 4rem; 
    color:white;
    background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
    
}

.logo {
    font-size: 1.5rem;
    font-weight: bold; 
    text-decoration: none; 
    color: inherit;
    }
    .links {
        list-style-type: none;
        display: flex;
        gap: 2rem; 
        }